.product-page {
  display: flex;
  gap: 1.2rem;
}

.product-page-container {
  display: flex;
  gap: 1.6rem;
  background-color: #fff;
  padding: 2rem;
  width: 100%;
}
.product-info {
  width: 50%;
}
.ppg-img-con {
  width: 50%;
  height: 40rem;
  background-size: contain;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // width: 40rem;
  // height: 40rem;
}
.product-info-name {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: -0.1px;
  transition: color 10000s ease-in-out;
  margin-bottom: 0.4rem;
}
.page-price {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 1.6rem ;
}
.product-info-price {
  font-size: 3rem;
  padding: 1.2rem 0 0.4rem 0;
  font-weight: 500;
  line-height: 4.6rem;
}
.price-strike {
  text-decoration: line-through;
  color: #b71e79;
  opacity: 0.4;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.6rem;
  margin-bottom: 1.2rem;
}
.in-stock {
  font-weight: 500;
  font-size: 1.2rem;
}
.page-qtn {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.page-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3.4rem 0 6.4rem 0;
  .pg-itm-minus,
  .pg-itm-plus {
    font-weight: 500;
    // font-size: 1.4rem;
    line-height: 2rem;
    background-color: #d9d9d9;
    width: 3.2rem;
    cursor: pointer;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b71e79;
    color: #000000;
  }
  .pg-itm-minus {
    margin-left: 1rem;
  }
  .pg-itm-qtn {
    font-size: 1.4rem;
    background: #ffffff;
    padding: 0 2.2rem;
    font-weight: 500;
    color: #000000;
    border-top: 1px solid #b71e79;
    border-bottom: 1px solid #b71e79;
  }
}
.star {
  width: 1.8rem;
  height: 1.8rem;
  fill: #b71e79;
  stroke: none;
}
.ratings {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  // gap: 1.4rem;
}
.colors {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.4rem;
}
.color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.add {
  margin: none;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  gap: 1.2rem;
}

.add-left,
.add-right {
  width: 23.6rem;
}
.brand-name {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
.sku {
  font-size: 1.2rem;
  margin-bottom: 3.6rem;
}
.description {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.product-mid {
  margin: 4.6rem 0;
  padding: 3.2rem 4.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #ffffff;
}
.product-down {
  background-color: #ffffff;

  .down-details {
    display: flex;
    gap: 3.2rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 2.4rem;
    border-bottom: 1px solid #ededeb;
  }

  .down-details p:hover {
    font-weight: 700;
    color: #b71e79;
  }
  .details-itm {
    cursor: pointer;
  }
}
.active-header {
  color: #b71e79;
  font-weight: 700;
}
.details-box {
  min-height: 36rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2.4rem;
}
.details-box ul {
  margin: 2.4rem;
}
.product-add{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.product-cart{
  width: 2.8rem;
  height: 2.8rem;
  color: #b71e79;
 
}
.product-cart:hover{
  color: #ffffff;
 
}

.star-review{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.rating{
  margin-left: 1rem;
}
.review{
  margin-left: 2.4rem;
}

@media (max-width: 34em) {
  .product-page-container{
    flex-direction: column;
    gap: 0;

  }
  .ppg-img-con, .product-info{
    width: 100%;

  }
 
  .product-info-name{
    font-size: 2.8rem;
  }
  .sku{
    margin-bottom: 0;
  }
  .page-quantity{
    margin: 2.4rem 0 4.8rem 0;
  }
  .product-info-price{
    padding: 0;
  }
  .price-strike{
    margin:0;
  }
  .page-price{
    padding-bottom: 0;
  }
  .product-down{
     .down-details{
    font-size: 1.4rem;
    gap: 2.4rem;
  }
  }
 
  .details-box{
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 2.4rem;
  }
  .product-mid{
    font-size: 1.4rem;
  }
  .product-cart{
    display: none;
  }
  .add-left, .add-right{
    width: 50%;
  }
}

