.tech-con{
    margin-bottom: 9.6rem; 
     /* height: 30rem; */
}
.stacks{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #101828;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.stack{
    color: #16262d;
    padding: 2.4rem 2.4rem;
    border: none;
    cursor: pointer;
    
}
.stack:hover{
    color: #16262d;
    border-bottom: 5px solid #dee2e6;
    /* transition: border .8s ease; */
    font-weight: 700;

}
.tech-active{
    color: #4D4DFF;
    border-bottom: 5px solid #4D4DFF;
    font-weight: 700;

}
.tech-active:hover{
    color: #4D4DFF;
    border-bottom: 5px solid #4D4DFF;
    font-size: 1.5rem;
    /* transition: border .8s ease; */
}
.tech-cards{
    display: flex;
    padding: 2.5rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tech-box{
    background-color: #fff;
    box-shadow: 0 2px 4px #00334e1a;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    height: 13.6rem;
    width: 13.6rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #16262d;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.lang-icon{
    width: 2.4rem;
    height: 2.4rem;
}
.tech-name{
    margin-top: 1rem;
    font-size: 1.6rem;
    text-transform: capitalize;
}