
.fill{
    line-height: normal;
    background: none;
    background-color: #F5B216;
    border: none;
    padding: 1.2rem 2rem;
    min-width: 12rem;
    /* width: 100%; */
    text-transform:uppercase;
    cursor: pointer;
    
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    border-radius: 6px;
    /* transition: color .45s cubic-bezier(.785,.135,.15,.86),background-color .45s cubic-bezier(.785,.135,.15,.86); */
    transition: color .45s linear, background-color .45s linear;
    /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
    

}

.fill:hover{
    font-weight: 700;
    font-size: 1.4rem;
    
}
.outline{
    background: none;
    border: 1px solid #F5B216;
    color: #F5B216;
    line-height: normal;
    padding: 1.2rem 2rem;
    min-width: 12rem;
    /* width: 100%; */
    text-transform:uppercase;
    cursor: pointer;
    
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    border-radius: 6px;
    /* transition: color .45s cubic-bezier(.785,.135,.15,.86),background-color .45s cubic-bezier(.785,.135,.15,.86); */
    transition: color .45s linear, background-color .45s linear;
}
.outline:hover{
    background-color: #F5B216;
    color: #131415;
    border: none;

}

.footer-btn{
    line-height: normal;
    background: none;
    background-color: #F5B216;
    border: none;
    padding: 1.2rem 2rem;
    min-width: 12rem;
    /* width: 100%; */
    text-transform:uppercase;
    cursor: pointer;
    
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
        /* transition: color .45s cubic-bezier(.785,.135,.15,.86),background-color .45s cubic-bezier(.785,.135,.15,.86); */
        transition: color .45s linear, background-color .45s linear;
}

.footer-btn:hover{
       font-weight: 700;
    
    
}