.trending{
  width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 2.4rem;
  margin-bottom: 3.4rem;
}
.trending-header-container{
    font-size: 1.8rem;
    line-height: 1.6;
     display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding: 3.4rem 9rem 2.4rem 9rem; 
    margin-bottom: 5.4rem;
    border-bottom: 1px solid #EDEDEB;
    color: #000000;*/
}

.trending-section{
   
    /* margin: 0 9rem 6.2rem 9rem; */
    
    transition: transform 1s, opacity 1s;
    
    
    
  }
  
  .trending-products{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(236px, 236px)); */
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    overflow-x: scroll;
    justify-content: flex-start;
}


@media (max-width: 34em) {
 
  .trending-products{
    
   /* overflow-x: scroll; */
  }
  
}