.mid-section {
  background-color: #ffffff;
  margin: 3.4rem 0;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-items {
  display: flex;
  padding: 1.2rem;
  gap: 3.6rem;
  justify-content: center;
}
.mid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.mid-icon {
  width: 3.2rem;
  height: 3.2rem;
}
.item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  margin-top: 3.6rem;
  /* color: #131415; */
  color: #b71e79;
}


@media (max-width: 34em) {
  .mid-section{
    
  }
  .mid-items{
        gap: 1.2rem;
  }
  .item{
    font-size: 1.4rem;
    text-align: center;
  }
  .mid-icon{
    height: 2rem;
    width: 2rem;
  }
  .down{
    display: none;
  }
}