.flash{
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 2.4rem;
    margin-bottom: 3.4rem;
   
}

.sp-timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    font-family: nunito, sans-serif;
    font-weight: 600;
    line-height: 3.2rem;
    font-size: 2.4rem;
}


@media (max-width: 34em) {
    .sp-timer{
     font-size: 1.4rem;
    }
  }