.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding:0.5rem;
    width: 100%;
    position: relative;
    margin-top: -4.8rem;
    /* box-shadow: 0px 0 3px 2px rgb(0,0,0,0.4) */
  }
  
  @media screen and (max-width: 39em) {
    .search-bar {
      width: auto;
    }
    .psearch-icon{
        position: absolute;
        top: 50%;     
        left: 10px;
        transform: translateY(-50%);
        opacity: 0.4;
    }
  }
  
  .search-bar input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    flex: 1;
    padding: 1rem;
    font-size: 1.6rem;
    padding-left: 4rem;
    
  }

  