.slider-card-section{
  background-color: #FFF;
  margin-bottom: 4.8rem;
  transition: transform 1s, opacity 1s;
  position: relative;
}

.professionals-container{
  display: flex;
  min-width: 180px;
  flex-wrap: nowrap;
  /* grid-template-columns: repeat(auto-fit, minmax(180px, auto)); */
  gap: 1.6rem;
  overflow-x: scroll;
  
}

.professionals-container::-webkit-scrollbar{
  display: none;
}

.btn-slide{
position: absolute;
top: 40%;
transform: translateY(-40%);
font-size: 1.2rem;
cursor: pointer;
width: 3.2rem;
height: 3.2rem;
background-color: #fff;
border-radius: 50%;
transition: opacity 0.5s ease-in-out; 
}
.left{
  position: absolute;
left: -10px;
}
.right{
  position: absolute;
  right: -10px;
}