.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  // padding: 1.2rem;
  gap: 4.8rem;
  padding: 2.4rem;

  .ci-left {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .itm-flx {
      display: flex;
      flex-direction: column;

      .itm-nm {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      .itm-sb {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    .cart-img {
      width: 8rem;
      height: 8rem;
    }
  }

  .cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    .itm-minus,
    .itm-plus {
      font-weight: 500;
      // font-size: 1.4rem;
      line-height: 2rem;
      background-color: #d9d9d9;
      width: 3.2rem;
      cursor: pointer;
      height: 2.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .itm-plus {
      color: #b71e79;
    }
    .itm-minus {
      color: #696464;
      opacity: 0.8;
    }
    .itm-qtn {
      font-size: 1.4rem;
      background: #ffffff;
      box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.12);
      padding: 0.1rem 2.2rem;
    }
  }
  .cart-discount {
    font-weight: 500;
    font-size: 1.6rem;
    justify-self: center;
    // line-height: 2.4rem;
  }
  .cart-price {
    font-weight: 600;
    font-size: 1.2rem;
    // line-height: 2.4rem;
    justify-self: center;
    text-decoration: line-through;
    color: #b71e79;
    // opacity: 0.4;
    justify-self: center;
  }
}

.ch-cart-item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 2.4rem 1.2rem;
  .ch-ci-left {
    display: flex;
    align-items: center;

    .itm-flx {
      display: flex;
      align-items: center;
      justify-content: center;

      .itm-nm {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      .itm-sb {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    .cart-img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
    }
  }

  .cart-quantity,
  .ch-cart-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
  .itm-qtn, .ch-itm-qtn {
   
    padding: 0.4rem;
    background-color: #b71e79;
    color: #ffffff;
  }
}
@media (max-width: 34em) {
  .cart-item{
    gap: 1.2rem;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .ci-left{
    flex-direction: column;
    
  }
  .cart-item, .cart-quantity, .itm-qtn,  .ci-left .itm-flx .itm-nm{
    font-size: 1.2rem;
  }
  .itm-qtn, .ch-itm-qtn{
    padding: 0.1rem 1rem;
  }
 
}