.products-header-container{
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 2.4rem 0;
   
    margin-bottom: 2.8rem; 
    border-bottom: 1px solid #EDEDEB;
    color: #000000;
    
    
}
.ph-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.pd-reduce{
    padding: 1.6rem;
}
